{
  "mcpServers": {
    "biomodels-rag": {
      "type": "stdio",
      "command": "./vendor/BioModelsRAG_MCP/venv/bin/python3",
      "args": [
        "./vendor/BioModelsRAG_MCP/mcp_server.py"
      ]
    }
  }
}
